<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiry | Forza Motorsport</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c4c4c4">
        <div class="container-fluid">
            <a href="/cars" class="navbar-brand">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Forza_Motorsport_logo.svg/2560px-Forza_Motorsport_logo.svg.png"
                width="132" height="24">
            </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="navbar-item">
                    <a href="testdrive" class="nav-link"><i class="fas fa-car"></i> Test Drive</a>
                </li>
                <li class="navbar-item">
                    <a href="enquiry" class="nav-link"><i class="fas fa-question-circle"></i> Enquiry</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="navbar-item">
                        <a href="{% url 'admin:index' %}" class="nav-link"><i class="fas fa-user-secret"></i> Admin</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="navbar-item">
                        <a href="{% url 'logout' %}" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>
                {% else %}
                    <li class="navbar-item">
                        <a href="{% url 'login' %}" class="nav-link"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    <h6 class="lead"><i class="fas fa-user-circle"></i> Hello, {{ user.get_username }}!</h6>
                </span>
            {% endif %}
        </div>
    </nav>
    <br>

    <div class="container-md">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong><i class="fas fa-exclamation-triangle"></i> {{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <h2 class="display-4"><strong>Enquire About Us</strong></h2>
        <p class="lead">Please fill out your enquiries below and we will get back to you as soon as possible.</p><br>
        <form action="" method=POST>
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.name }}
                <label>Name</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.email }}
                <label>Email Address</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.address }}
                <label>Address</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.phoneNumber }}
                <label>Phone Number</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.remarks }}
                <label>Remarks</label>
            </div>
            <label class="lead">Please solve the captcha below to continue (not case sensitive).</label><br>
            {{ form.captcha }}<br>
            <button type="submit" class="btn btn-success"><i class="fas fa-share-square"></i> Submit</button>
            <button type="button" class="btn btn-danger" onclick="javascript:history.go(-1);"><i class="fas fa-chevron-circle-left"></i> Back</button>
        </form>
    </div>
</body>
</html>